    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>Hello! I am currently attending my final quarter of a master’s program in statistics at Oregon State University, where I am fully funded as a graduate teaching assistant. My background combines academic training in statistics, experience working with high throughput genomic and multiomics data, and building software tools to work with data. I have a long-standing interest in using statistical and machine learning methods on bioinformatic data to gain understanding of biology at a sub-cellular level to ultimately improve health outcomes. </p>
                <p>After finishing my bachelor’s degree from Brown University, I worked from 2019 to 2021 at Harvard Pilgrim Health Care Institute as the primary bioinformatic analyst for 2 longitudinal mother-child cohorts under the direction of Dr. Marie-France Hivert. I was also the lead programmer for a Nurses Health Study 3 sub-study examining physical activity and exposure to greenness, which involved applying modern data science techniques to our unstructured dataset of about 45 million records. </p>
                <p>During undergraduate summers I was selected for the NIH Summer Institutes in Biostatistics program in 2017 and was an undergraduate researcher in statistical genetics under Dr. Nathan Tintle in 2018. </p>
                <p>In my spare time I enjoy exercising, cooking the freshest veggies, biking and reading. </p>
            </div>
        </div>
    </section>