<!--- Bibliography Section-->

<section id="publications" class="container content-section">
    <div class="row justify-content-center text-center">
        <div class="col-lg-8 col-lg-offset-2">
            <!---<div class="col-lg-6"> --->
            <h2 id="publications">Publications</h2>
            
        </div>
    </div>
            <bibtex src="../works.bib"></bibtex>
            <div class="bibtex_structure">
                <div class="group year" extra="DSC number">
                      <div class="templates"></div>
                </div>
            </div>

            <div class="bibtex_template">
                <div style="margin-left: 10px; margin-bottom:20px;">
                    <span class="title" style = 'font-weight: bold; font-size:larger'></span>
                    <span class="author" max="4" style="font-size:larger"></span>
                    <span class="journal" style="font-style: italic;font-size:larger"></span>
                    <span class="volume" style="font-style: italic; font-size:larger"></span>
                    <span class="if url" style="margin-left: 20px">
                        <a class="url" style="color:black; font-size:15px">(view online)</a>
                      </span>
                    </div>
                </div>
            </div>
            <div id="bibtex_display"></div>

            <!---</div>--->
       </div> 
    </div>
</section>